<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wuk.mytools">

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyTools">
        <activity android:name=".DrawActivity"></activity>
        <activity android:name=".BookshelfByGridActivity" />
        <activity android:name=".BookshelfActivity" />
        <activity android:name=".CollectionActivity" />
        <activity android:name=".ColorAlphaActivity" />
        <activity android:name=".SlideCardActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>